.wrapper {
  background: $blue-bgc;
  position: relative;
}
.header {
  padding-top: 30px;
}
.main {
  padding: 75px 0 170px 0;
  @media screen and (max-width: 768px) {
    padding: 45px 0;
  }
  @media screen and (max-width: 576px) {
    padding: 20px 0;
  }
}
//
.nav-menu {
  position: relative;
  @media screen and (max-width: 768px) {
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-image: url(../../assets/icons/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.nav-menu.active {
  @media screen and (max-width: 768px) {
    & > .nav-list {
      display: flex;
      animation-name: activeList;
      animation-duration: 0.5s;
    }
  }
}
@keyframes activeList {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
//
.nav-list {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 200px;
    height: 320px;
    z-index: 10;
    padding: 5px;
    background-image: url(../../assets/icons/logo.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: 10px;
    background-position-x: 15px;
    background-color: #6a08ce;
    box-shadow: inset 0 0 12px #270e09, inset 0 0 20px #0d9e35, 0 0 15px $white;
    & > li:first-child {
      margin-top: 30px;
    }
  }
}
.nav-link {
  display: inline-block;
  position: relative;
  font-size: $sm-16;
  line-height: $lh-20;
  font-weight: 500;
  color: $white;
  margin: 0 15px;
  &:hover {
    color: $white;
    text-shadow: 0 0 4px $violet;
    &:after {
      width: 100%;
      transition: 0.2s ease-in-out;
    }
  }
  &:after {
    content: "";
    height: 2px;
    background: $white;
    bottom: 0;
    left: 0;
    width: 0%;
    position: absolute;
  }
}
.logo {
  &-href {
    display: inline-block;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &-obj {
    position: relative;
    z-index: -1;
  }
}
//
.software {
  &-about {
    max-width: 530px;
    @media screen and (max-width: 992px) {
      max-width: 400px;
    }
  }
  &-png {
    width: 100%;
  }
}
.about {
  &-title {
    margin-bottom: 3px;
    @media screen and (max-width: 576px) {
      font-size: 42px;
    }
  }
  &-subtitle {
    margin-bottom: 50px;
    font-size: $md-22;
    line-height: $lh-135;
    color: $white;
    @media screen and (max-width: 576px) {
      margin: 20px 0px 50px 0px;
      font-size: $md-20;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 50px;
    width: 255px;
    height: 50px;
    color: $dark-blue;
    font-size: $sm-18;
    line-height: $lh-135;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
